
 //base
 @import "base/vars";
 @import "base/reset";

 //components
 @import "components/boton";
 @import "components/footer";
 @import "components/navbar";

 //layouts
 @import "layouts/index";
 @import "layouts/contacto";
 @import "layouts/galeria";
 @import "layouts/faq";
 @import "layouts/productos";
 @import "layouts/pagos";


body {
    background-color: $secondary-color;
}

h1 {
    font-size: 55px;
    font-weight: 900;
    color: $primary-color;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 35px;
    color: $paleta3-color;
    font-weight: 600;
    text-align: center;
    font-family: cursive
}

h3 {
    font-size: 35px;
    color: $paleta3-color;
    font-weight: 600;
    text-align: center;
    font-family: cursive
}

h4 {
    text-align: center;
    font-size: 15px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 20px;
    color: $paleta3-color;
    text-align: justify;
    text-justify: inter-word;
}

.col-6, .col-md-4 {
    background-color: aqua;
}